*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    









    }
    @font-face {
        font-family:"roboto";
        src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
    }
    @font-face {
        font-family: "meaculpa";
        src: url(./fonts/MeaCulpa-Regular.ttf);
    }




    .logodiv span{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
        font-style: normal;
        font-size: large;
    }


#color{
    color: orangered

}

    



    header{
        width: 100%;

        
        
        display: flex;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        background-color: white;
        padding: 10px 70px;
        position: sticky;
        top: 0;
        align-items: center;

        
    }
    .logodiv{
        display: flex;
        align-items: center;
        gap: 10px;
        
    }

    .logodiv img{
        width: 7%;
        

    }
    .navlinks{
        display: flex;
        gap: 40px;

        
    }
    .navlinks li {
        list-style: none;
    }
    .navlinks li a {
        text-decoration: none       ;
        color: black;
    }

    .hero img {
        width: 98% ;
    

    }
    .hero {
        display: flex;
        align-items: center;
        
        
    }
    .con{
        display: flex;
flex-direction: column;
gap: 23px;

font-family: sans-serif;
font-size: 18px;
font-style: italic;






    }

    #col1{
        color: orangered;
        text-shadow: 5px 5px 8px rgb(238, 5, 5);
    }
    #col2{
        color: rgb(29, 29, 59);
        text-shadow: 5px 5px 8px rgb(3, 3, 139);
    }
    
.con button{
    
  
    padding:10px 10px ;
    background-color: #3D4FF3;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-family: "Roboto";
    font-size: medium;
    width: 120px;



}

button:active{
    background-color: rgb(3, 7, 58);
}



.master{
    background-color: #E5E5E5;
    padding: 20px 30px;

    
    

    }
.content h2 {
    color:rgb(52, 52, 88); 
    font-size: 27px;
}

    .heading{
        padding: 30px 20px 20px 60px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(52, 52, 88);
    }


    .boss{
        display: flex;
        justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding: 12px;
    line-height: 1.5;

    }
    .main{
        background-color: white;
        
        width: 30%;
        border-radius: 12px;

border-radius: 20px;





    }
    .shoes img{
        width: 350px;
        height: 57vh;
    background-color:#E5E5E5 ;
    border-radius: 12px;
    
}
.shoes{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    gap: 3px;
    flex-direction: column;
        padding: 10px 30px ;
    
    
}
.doller{
        display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    color: #ff8367;
    font-weight: 800;
    font-size: 24px;
    
}
.doller button{
     
    
    padding:10px 10px ;
    background-color: #3D4FF3;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-family: "Roboto";
    font-size: medium;
    width: 120px;
}

button:active{
    background-color: rgb(3, 7, 58);

    

    }



#pic{
    background-color: white;


    }
    .feature{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0px;
        gap: 70px;
    }
    .firstchild{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

        .secoundchild{
            width: 40%;
        }
        
        .secoundchild img{
            width: 100%;
        }
        .box1{
            display: flex;
            align-items: center;
            background-color: #fff;
            padding: 20px 40px;
            border-radius: 12px;
        }
        .box1 img{
            width: 50%;
        }
        .moon{
            display: flex;
            flex-direction: column;
            gap: 8px;
            font-family: roboto;
    
        }
        .moon h4{
            font-size: 20px;
            font-weight: 700;
                color: rgb(54, 57, 88);
        }
        .moon p{
            font-size: 16px;
            color: rgb(33, 37, 41);
        }


        .meansub{
            width: 100%;
            height: 40vh;
            display: flex;
            justify-content: center;
        }
        .subscrib{
        height: 35vh;
                background-color: #fff;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border: none;
    text-align: center;
    width: 88%;
    display: flex;
    flex-direction: column;
    gap: 50px;
        
            
    

    }
            

        
        .meansub h4{
            font-size: 24px;
    font-family: roboto;

    color: rgb(54, 57, 88);
    font-weight: 700;

        }
        .subscrib-form{
                display: flex;
    justify-content: center;
    max-width: 1000px;
    padding: 24px;
     padding: 6px 12px;
        
    
}
.subscribe-form input {
    flex: 1;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 4px 0 0 4px;
width: 80%;
height: 43px;
    }



    
.subscribe-form button {
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    background-color: #3D4FF3;
    padding: 12px;
    border: none;
    

    }

    .footer{
        background-color: #f8f9fa;
        width: 100%;
        
        padding: 50px 120px 30px 100px;
        display: flex;
        gap: 180px;
        flex-wrap: wrap;
        gap: 60px;
        justify-content: space-between;
    
    }

    .footer-box{
    width: 15%;
        height: 20vh;
        background-color: #f8f9fa;
        display: flex;
        align-items: center;

        
    

    }
    .footer-links{
        display: flex;
        flex-direction: column;
        gap: 25px;
        font-family: roboto;

    }
    .footer-links h5{
        color: rgb(54, 57, 88) ;
        font-size: 20px;

    }
    .footer-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
      color: rgb(33, 37, 41);
      font-size: ;
      cursor: pointer;
    }
    .footer-note{
        padding: 0px 380px;

    font-size: 16px;
    color: rgb(33, 37, 41); 
    font-family: roboto; 
    
    
    }
    #me{
        color: rgb(255, 131, 103);
    }











       
        
    